/*  Constantes:  */
:root {
  --dark: #023447;
  --ligth: #ede5e5fc;
  --plate: #686666d7;

  --font: Roboto Condensed, sans-serif;
}

body {
  background-color: var(--plate);
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.cartTable {
  background-color: var(--ligth);
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 2px solid #302e2e;
}

.cartTable th,
.cartTable td {
  padding: 10px;
  border: 1px solid #5c5a5aa0;
  text-align: center;
}

.cartTable img {
  max-width: 100px;
  max-height: 100px;
}

.quantity {
  margin: 0 10px;
}

.cartResume {
  background-color: var(--ligth);
  text-align: center;
  border: 2px solid var(--dark);
  padding: 10px;
  width: 50%;
}

.cartResume > p {
  font-size: 24px;
}

.productImg {
  width: 70px;
}

footer {
  background-image: url("./Images/footerWide.png");
  background-size: cover; /* Escala la imagen para cubrir todo el footer */
  background-repeat: no-repeat;
  background-position: center;

  padding: 10px;
  text-align: center;
}
/* Media Querys   */

/* Breakpoints XS   */
@media screen and (max-width: 500px) {
  nav {
    margin: 0;
    justify-content: center;
  }

  .navLogo {
    width: 100%;
    height: auto;
  }
}
