/*  Constantes:  */
:root {
  --yellow: #f8d406;
  --dark: #023447;
  --white: #fff;
  --plate: #686666d7;
  --blue: #061fb2;
  --green: #056a2f;

  --font: Roboto Condensed, sans-serif;
}

body {
  background-color: var(--plate);
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
}

.navLogo {
  width: 460px;
}

.cartLogo {
  width: 50px;
}

a {
  font-size: large;
}
h6 {
  font-weight: 600;
  font-size: large;
}

ul {
  list-style: none;
  padding: 1px;
}

li a span {
  margin-right: 5px;
}

li a {
  color: var(--black);
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: var(--yellow);
}

.fa-circle {
  font-size: 20px;
}

.brandLogo {
  width: 200px;
  max-width: 200px;
  align-items: center;
}

#gris {
  color: var(--plate);
}

#azul {
  color: var(--blue);
}

#verde {
  color: var(--green);
}

#negro {
  color: var(--black);
}

#results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#resultsTitle {
  font-weight: 600;
  text-align: center;
}

#inputFilter {
  font-family: var(--font);
  font-style: italic;
  font-size: 30px;
  max-width: 800px;
}

.card {
  background-color: var(--white);
  padding-bottom: 10px;
  margin: 10px;
  cursor: pointer;
  width: 250px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 0 5px var(--yellow);
}

.card img {
  height: 250p;
  width: 248px;
}

.card h2,
h3 {
  margin: 4px;
}

.card .rating {
  color: var(--yellow);
  font-size: 30px;
}

.card .productPrice {
  background-color: var(--yellow);
  border-radius: 4px;
  padding: 2px;
  font-weight: bold;
}

.card .brand {
  font-weight: bold;
}

footer {
  background-image: url("./Images/footerWide.png");
  background-size: cover; /* Escala la imagen para cubrir todo el footer */
  background-repeat: no-repeat;
  background-position: center;
  height: 280px;
}

.footerInfo p {
  font-size: x-large;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.iconsSocial > a > i {
  font-size: 40px;
  font-weight: 600;
  margin-right: 25px;
  text-shadow: 2px 2px 4px rgba(241, 235, 235, 0.903);
}

/* Media Querys   */

/* Breakpoints XS   */
@media screen and (max-width: 415px) {
  #products {
    width: 320px;
  }

  .navLogo {
    width: 412px;
  }

  .containerPrincipal {
    display: flex;
    flex-direction: column;
    width: 412px;
  }

  .footerInfo p {
    font-size: 18px;
  }

  .footerLogo {
    width: 200px;
  }

  .footerSocial > p {
    font-size: 20px;
  }

  .iconsSocial > a > i {
    font-size: 36px;
    margin: 5px 0px;
  }
}

@media screen and (max-width: 580px) {
  .navLogo {
    width: 414px;
  }
  .containerPrincipal {
    display: flex;
    flex-direction: column;
    width: 560;
  }

  .iconsSocial {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Breakpoints Hasta 1200   */
@media screen and (max-width: 1200px) {
  .navbarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cartLogo {
    width: 60px;
  }

  #sidebar {
    width: 400px;
  }

  .containerPrincipal {
    display: flex;
    flex-direction: row;
    width: 800;
  }

  .footerInfo p {
    font-size: 18px;
  }

  .footerLogo {
    width: 260px;
  }

  .footerInfo p {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .footerSocial > p {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .iconsSocial > a > i {
    font-size: 36px;
  }
}

/* Breakpoints mas de 1201   */
@media screen and (min-width: 1201px) {
  .navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navLogo {
    width: 400px;
  }

  .cartLogo {
    width: 70px;
  }

  .containerPrincipal {
    display: flex;
    flex-direction: row;
    width: 1800;
  }

  #sidebar {
    width: 240px;
    max-width: 240px;
    min-width: 240px;
  }

  .footerInfo p {
    font-size: 18px;
  }

  .footerLogo {
    width: 260px;
  }

  .footerInfo p {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .footerSocial > p {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .iconsSocial > a > i {
    font-size: 36px;
  }
}
