/*  Constantes:  */
:root {
  --dark: #023447;
  --ligth: #ede5e5fc;
  --plate: #686666d7;

  --font: Roboto Condensed, sans-serif;
}

body {
  background-color: var(--plate);
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.cartTable {
  background-color: var(--ligth);
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 2px solid #302e2e;
}

.cartTable th,
.cartTable td {
  padding: 10px;
  border: 1px solid #5c5a5aa0;
  text-align: center;
}

.cartTable img {
  max-width: 100px;
  max-height: 100px;
}

.quantity {
  margin: 0 10px;
}

.cartResume {
  text-align: center;
  border: 2px solid var(--dark);
  padding: 10px;
  width: 50%;
}

.cartResume > p {
  font-size: 24px;
}
