/*  Constantes:  */
:root {
  --yellow: #f8d406;
  --dark: #023447;
  --white: #fff;
  --plate: rgba(142, 142, 144, 0.651);

  --font: Roboto Condensed, system-ui, -apple-system, sans-serif;
}

body {
  background-color: var(--plate);
  font-family: var(--font);
}

#sidebar {
  width: 10%;
  padding: 10px;
  margin: 0;
  float: left;
}

.navLogo {
  padding-left: 10px;
}

.cartLogo {
  width: 50%;
}

a {
  font-size: large;
}
h6 {
  font-weight: 600;
  font-size: large;
}

ul {
  list-style: none;
  padding: 5px;
}

li a span {
  margin-right: 15px;
}

li a {
  color: var(--black);
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: var(--yellow);
}

.fa-circle {
  font-size: 20px;
}

.brandLogo {
  width: 200px;
}

#gris {
  color: #686666d7;
}

#azul {
  color: #264896d7;
}

#verde {
  color: #0a810c;
}

#negro {
  color: #000000;
}

#otros {
  color: #f8d406;
}

#results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: var(--white);
  padding-bottom: 10px;
  margin: 10px;
  cursor: pointer;
  width: 250px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 0 5px var(--yellow);
}

.card img {
  height: 250p;
  width: 248px;
}

.card h2,
h3 {
  margin: 4px;
}

.card .rating {
  color: var(--yellow);
  font-size: 30px;
}

.card .productPrice {
  background-color: var(--yellow);
  border-radius: 4px;
  padding: 2px;
}

.card .brand {
  font-weight: bold;
}
