h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.carrito {
  background-color: #e8e0e0fe;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 2px solid #302e2e;
}

.carrito th,
.carrito td {
  padding: 10px;
  border: 1px solid #5c5a5aa0;
  text-align: center;
}

.carrito img {
  max-width: 100px;
  max-height: 100px;
}

.btn-restar {
  padding: 5px 10px;
  background-color: #db4307;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-sumar {
  padding: 5px 10px;
  background-color: #05da17;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cantidad {
  margin: 0 10px;
}

.btn-eliminar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.resumen-carrito {
  text-align: right;
}
